.image {
  width: 25rem;
  height: 25rem;
}

.button-custom {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 5rem;
  background: rgb(20, 238, 238);
  /* background: red; */
}

.sign {
  color: aliceblue;
}

.email {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 12px;
  margin: 1.5rem;
}

.pass {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 12px;
}

form {
  padding: 3em;
  height: 20rem;
  border-radius: 40px;

  text-align: center;
}
@media screen and (max-width: 768px) {
  .form-custom {
    padding: 3em;
    height: 20rem;
    border-radius: 40px;
    max-width: 70%;
    margin-left: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .email {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 12px;
    margin-left: -0.5rem;
  }

  .pass {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 12px;
    margin-left: -0.36rem;
  }
}
